#skills
{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.skillTitle
{
    font-size: 3rem;
    font-weight: 600;
    padding-top:3rem ;
    margin: 1rem;
}
.skillDesc
{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 50rem;
    padding: 1rem 1rem;
    text-align: center;

}
.skillBars
{
    width: 100vw;
    max-width: 80%;
    margin: 1.5rem;
    text-align: left;
}
.skillBar
{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50 ,50);
}
.skillsImg
{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem ;

}
.skillBarText>p
{
    font-size: 1rem;
    padding-top: 0.5rem;
    /* font-weight:; */
}
@media screen and (max-width: 720px) {
    .skillBarText>p
{
    font-size: 2vw;
}
    
}
@media screen and (max-width: 450px) {
    .skillsImg
    {
        object-fit: cover;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem ;

    }
    
}