.navbar
{
    height: 5rem;
    width: 100vw;
    /* margin: 0 auto; */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgb(30, 30, 30);
}
.logo
{
    object-fit: cover ;
    height: 4rem;
    width: 5rem;
    margin-left: 3rem;
    border-radius: 3rem;
}
.desktopMenuListItem
{
    margin: 1rem;
    cursor: pointer;
    
}
.desktopMenuListItem:hover
{
    color: yellow;
    padding: 0.5rem ;
    border: 3px solid yellow;
    border-radius: 1rem;
}

.desktopMenuContact
{
    color: black;
    font-weight: bold;
    margin-right: 3rem;
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    border-radius: 2rem;
    /* margin: 5px; */
    border: none;
    display: flex;
    text-align: center; 
    justify-content: center;
}
.desktopMenuImg
{
    /* height: 1rem; */
    width: 1rem;
    margin: 3px;
    
}
.active
{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding: 0.5rem;
}
.navMenu
{
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}
.listItem
{
    padding: 0.5rem  3rem;
    margin: 0.25rem ;
    background: rgb(30, 30, 30);
}
.mobMenu
{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
@media screen and (max-width:720px) {

    .mobMenu
{
    display: flex;
}
  .desktopMenulist
{
    display: none;
}
.desktopMenuContact
{
    display: none;
}
}